<% include header.ejs %>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <img src="img/404.jpg">
  </div>

  <hr>
</div> <!-- /container -->
<% include footer.ejs %>
<script>

</script>
</body>
</html>
